<footer
    class="fixed bottom-0 w-full h-6 bg-secondary-container text-on-secondary-container font-code-snippet text-body-sm flex items-center justify-between px-2 z-100 border-t border-outline-variant">
    <div class="flex items-center h-full">
        <span
            class="bg-primary-container text-on-primary-container px-3 font-bold h-full flex items-center mr-2">[NORMAL]</span>
        <span class="flex items-center gap-2 px-2">
            <span class="material-symbols-outlined text-[14px]">description</span>
            main.cpp
        </span>
    </div>
    <div class="hidden md:block">
        [v3.2.1-stable] linux_club_daemon © 2023 Linux Club
    </div>
    <div class="flex items-center h-full">
        <span class="px-3 border-x border-outline-variant h-full flex items-center">utf-8</span>
        <span class="px-3 border-r border-outline-variant h-full flex items-center">100%</span>
        <span class="bg-secondary-fixed-dim text-on-secondary-fixed px-3 h-full flex items-center font-bold">1:1</span>
    </div>
</footer>